@import url('normalize.css');

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

a { text-decoration:none;}
a:link {color: #000;}
a:active {color: #000;}
a:visited {color: #000;}
a:hover {color: #000; text-decoration: none; }
a img { border:none; }
a:active, a:focus { outline-style: none; -moz-outline-style:none; }

::selection {
	background: #A5E5FF; /* Safari */
	}
::-moz-selection {
	background: #A5E5FF; /* Firefox */
}

.left{
	float: left;
}

body {
	font-family: Arial, sans;
}

#loader{
	z-index: 999999999999;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	text-align: center;
	top: 0;
    background-color: #FEFDFD;
}
#loader img {
	margin: 100px auto;
	width: 212px;
	height: 212px;
}

#topMenu {
	height: 150px;
	width: 150px;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 25px;
}
#topMenu #logoDiv {
	z-index: 9999999;
}
#topMenu #logoDiv img {
	width: 100px;
}


.items{
	overflow:hidden;
}
	.item{
		width:100%;
		overflow:hidden;
		position:relative;
		height:700px;
		border-bottom: 1px solid #111;
	}
		.inner,.inner-lev1,.inner-lev2{
			width:100%;
			height:100%;
			position:absolute;
			z-index:1;
		}
		.content{
			padding: 20px;
			width: 400px;
			margin: 300px 0 0 400px;
			position: relative;
			z-index: 2;
		}

#first {
	background: white url("../img/homeSlide.jpg") 0px 0px fixed no-repeat;
	background-size: 100% auto;
}

#firstSlideSlideDown{
	cursor: url("../img/arrow.png") 23 23, crosshair;
}
.firstSlide_textImg_1{
	background: url('../img/we_are.png') 15px 120px fixed no-repeat;
}
.firstSlide_textImg_2{
	background: url('../img/young.png') 470px 75px fixed no-repeat;
	background-size: 780px auto;
}
.firstSlide_textImg_3{
	background: url('../img/so_lets.png') 85px 225px fixed no-repeat;
}
.firstSlide_textImg_4{
	background: url('../img/set_the.png') 485px 225px fixed no-repeat;
}
.firstSlide_textImg_5{
	background: url('../img/world.png') 25px 330px fixed no-repeat;
}
.firstSlide_textImg_6{
	background: url('../img/on_fire.png') 790px 443px fixed no-repeat;
}
.bird{
	background: url('../img/bird.png') 838px 95px fixed no-repeat;
	z-index: 0;
	background-size: 450px auto;
}

#secondSlideSlideDown{
	cursor: url("../img/arrow.png") 23 23, crosshair;
}
#second .secondSlide_textImg_1{
	background: url('../img/we_can.png') 225px 60px fixed no-repeat;
}
#second  .secondSlide_textImg_2{
	background: url('../img/burn.png') 85px 210px fixed no-repeat;
}
#second  .secondSlide_textImg_3{
	background: url('../img/brighter.png') 600px 265px fixed no-repeat;
}
#second  .secondSlide_textImg_4{
	background: url('../img/than_the.png') 220px 390px fixed no-repeat;
}
#second  .secondSlide_textImg_5{
	background: url('../img/sun.png') 780px 400px fixed no-repeat;
	background-size: 450px auto;
}


#third {
	background: white url("../img/nextSlide.jpg") 0px 0px fixed no-repeat;
	background-size: 100% auto;
}
#third .iPhoneHand{
	background: url('../img/iPhoneHand.png') 785px 120px fixed no-repeat;
}
#third h1 {
	font-size: 64px;
	margin: 0 0 50px 0;
	color: #2baadf;
}
#third h2{
	font-size: 41px;
	color: #2baadf;
	margin: 0 0 25px 0;
}
#third p {
	font-size: 13px;
	color: #7c7c7c;
	margin: 0 0 25px 0;
	line-height: 24px;
}

#fourth {
	background: white url("../img/fourthSlideImg.jpg") 0px 0px fixed no-repeat;
	background-size: 100% auto;
}
#fourthSlideSlideDown{
	cursor: url("../img/arrow.png") 23 23, crosshair;
}


#fifth {
	background: white url("../img/portfolioSlideImg.jpg") 0px 0px fixed no-repeat;
	background-size: 100% auto;
}
#fifth h2{
	font-size: 61px;
	color: #2baadf;
	text-align: left;
	 margin: 0 0 25px 0;
	 clear: both;
}
#fifth h3{
    background-color: rgba(255, 255, 255, 0.45);
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px 12px;
    padding: 3px 0 3px 10px;
    text-align: left;
    width: 92%;
}
#fifth .content {
	padding: 20px;
	width: 1130px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.portfolioBox{
	float: left;
	width: 33.3%;
	text-align: center;
}
.portfolioBox img{
	border: 5px solid #DDD;
}
#closePortfolio{
	z-index: 9999;
	background: url("../img/closeBut.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 15px;
    width: 50px;
	cursor: pointer;
}
#closePortfolio:hover{
	opacity: 0.6;
}
#portfolio_div{
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	z-index: 9999999;
	width: 100%;
	background-color:#e5e5e5;
	overflow-y:scroll;
	text-align: center;
}
#fadePortfolio{
	opacity: 0;
}
.firePortfolioFrame:hover {
	opacity: 0.5;
	cursor: url("../img/porftolioHoverCursor.png") 23 23, crosshair;
}