@import url(normalize.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic-ext,cyrillic);

@font-face {
    font-family: ChunkFive-Roman;
    src: url(fonts/chunkfive.eot);
    src: url(fonts/chunkfive.eot?#iefix) format('embedded-opentype'), url(fonts/chunkfive.woff) format('woff'), url(fonts/chunkfive.ttf) format('truetype'), url(fonts/chunkfive.svg#chunkfive) format('svg');
    font-weight: 400;
    font-style: normal
}
.group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.group {
    clear: both
}
* html .group {
    height: 1%
}
.group {
    display: block
}
a {
    text-decoration: none
}
a:active, a:visited {
    color: #000
}
a:hover {
    color: #000;
    text-decoration: none
}
a img {
    border: none
}
a:active, a:focus {
    outline-style: none;
    -moz-outline-style: none
}
::selection {
    background: rgba(19, 110, 114, .7);
    color: #fff;
    text-shadow: none
}
::-moz-selection {
    background: rgba(19, 110, 114, .7);
    color: #fff;
    text-shadow: none
}
.no_selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.left {
    float: left
}
* {
    margin: 0;
    padding: 0
}
body, html {
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto
}
body {
    font-family: 'Open Sans', Arial, sans;
    font-weight: 300;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch!important
}
body.noScroll, html.noScroll {
    overflow: hidden!important;
    position: fixed!important
}
.page_wrapper {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    height: 100%
}
.loader {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    background-color: #FEFDFD
}
.loader .loader_wrapper {
    position: absolute;
    width: 371px;
    height: 480px;
    left: 50%;
    margin-left: -185px;
    top: 50%;
    margin-top: -240px
}
.loader img {
    opacity: .1;
    margin-bottom: 20px;
    width: 270px;
    height: auto
}
.loader .percentage {
    font-family: "Open Sans", Arial, sans;
    font-size: 40px;
    color: #238A8F
}
.pageHeader {
    height: 50px;
    width: 100%;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0
}
.headerExtendBackground_left {
    background-color: rgba(35, 138, 143, .85);
    height: 50px;
    top: 0;
    left: -5000px;
    position: absolute;
    width: 5000px
}
.headerExtendBackground_right {
    background-color: rgba(35, 138, 143, .85);
    height: 50px;
    top: 0;
    left: 1100px;
    position: absolute;
    width: 5000px
}
.pageNav {
    height: 50px;
    width: 1002px;
    background-color: rgba(35, 138, 143, .85)
}
.pageNav ul {
    padding: 0;
    margin: 0;
    float: right
}
.pageNav li {
    padding: 0 21px;
    margin: 0;
    line-height: 50px;
    float: left;
    list-style: none
}
.pageNav li:last-child {
    padding-right: 0
}
.pageNav li a {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out
}
.pageNav .active a, .pageNav li a:hover {
    color: #000
}
.items {
    overflow: hidden
}
.items li {
    list-style: none
}
.item, .scrollblock {
    width: 100%;
    overflow: hidden;
    position: relative
}
.item .page_wrapper, .scrollblock .page_wrapper {
    position: relative
}
.inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1000%;
    z-index: 1
}
.content {
    padding: 20px;
    width: 400px;
    margin: 300px 0 0 400px;
    position: relative;
    z-index: 2
}
.hamburger {
    display: none
}
.homeBlock {
    background: url(../img/background_home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 1000px
}
#secondSlideSlideDown, .homeBlock #firstSlideSlideDown {
    cursor: url(../img/arrow.png) 23 23, crosshair
}
.bird, .blured_bird, .firstSlide_textImg_and, .firstSlide_textImg_digital, .firstSlide_textImg_love, .firstSlide_textImg_think, .firstSlide_textImg_we {
    position: absolute;
    z-index: 3
}
.firstSlide_textImg_we {
    width: 333px;
    height: 183px;
    left: -25px;
    top: 230px;
    background: url(../img/slogan/we.png) no-repeat
}
.firstSlide_textImg_think {
    width: 523px;
    height: 183px;
    left: 330px;
    top: 220px;
    background: url(../img/slogan/think.png) no-repeat
}
.firstSlide_textImg_digital {
    width: 609px;
    height: 212px;
    left: 0;
    top: 420px;
    background: url(../img/slogan/digital.png) no-repeat
}
.firstSlide_textImg_and {
    width: 209px;
    height: 212px;
    left: 580px;
    top: 410px;
    background: url(../img/slogan/and.png) no-repeat
}
.firstSlide_textImg_love {
    width: 363px;
    height: 171px;
    right: -30px;
    top: 435px;
    background: url(../img/slogan/love.png) no-repeat
}
.blured_bird {
    width: 175px;
    height: 165px;
    left: 266px;
    top: 51px;
    background: url(../img/blurred_bird.png) no-repeat
}
.bird {
    width: 600px;
    height: 564px;
    right: 129px;
    top: 310px;
    background: url(../img/bird.png) no-repeat;
    z-index: 2
}
.scroll_getter_first {
    visibility: hidden;
    position: absolute;
    bottom: 500px
}
.secondBlock {
    height: 550px
}
.secondSlide_img_bottle, .secondSlide_img_flat, .secondSlide_img_nut1, .secondSlide_img_nut2, .secondSlide_textImg_brave, .secondSlide_textImg_solutions, .secondSlide_textImg_toCreate, .secondSlide_textImg_web {
    position: absolute;
    z-index: 3
}
.secondSlide_textImg_toCreate {
    width: 488px;
    height: 80px;
    top: 225px;
    left: 0;
    background: url(../img/slogan/to_create.png) no-repeat
}
.secondSlide_textImg_brave {
    width: 459px;
    height: 128px;
    top: 170px;
    right: 50px;
    background: url(../img/slogan/brave.png) no-repeat
}
.secondSlide_textImg_web {
    width: 319px;
    height: 119px;
    top: 350px;
    left: 50px;
    background: url(../img/slogan/web.png) no-repeat
}
.secondSlide_textImg_solutions {
    width: 604px;
    height: 106px;
    top: 50px;
    right: 0;
    background: url(../img/slogan/solutions.png) no-repeat
}
.secondSlide_img_nut1 {
    width: 97px;
    height: 68px;
    top: 250px;
    left: -150px;
    background: url(../img/nut_1.png) 0 no-repeat
}
.secondSlide_img_nut2 {
    width: 154px;
    height: 120px;
    top: 40px;
    left: -80px;
    background: url(../img/nut_2.png) no-repeat
}
.secondSlide_img_bottle {
    width: 247px;
    height: 346px;
    top: 25px;
    right: -113px;
    background: url(../img/bottle.png) no-repeat
}
.secondSlide_img_flat {
    width: 208px;
    height: 241px;
    bottom: 0;
    left: -100px;
    z-index: 3;
    background: url(../img/flat.png) no-repeat
}
.mobileApps {
    height: 900px
}
.portfolioBox {
    float: left;
    width: 33.3%;
    text-align: center
}
.portfolioBox img {
    border: 5px solid #DDD
}
#closePortfolio {
    z-index: 9999;
    background: url(../img/close.png) no-repeat;
    height: 39px;
    position: absolute;
    right: -87px;
    text-align: right;
    top: 15px;
    width: 140px;
    cursor: pointer
}
#closePortfolio:hover {
    opacity: .6
}
.web_portfolio_popUp {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    width: 0;
    height: 100%;
    text-align: center;
    background-color: #ececec;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}
.web_portfolio_popUp.active {
    visibility: visible;
    opacity: 1;
    width: 100%
}
.web_portfolio_popUp .popup_slider {
    position: absolute;
    top: 50%;
    margin-top: -291px;
    left: 0;
    width: 100%
}
.web_portfolio_popUp .page_wrapper {
    height: 98%
}
.firePortfolioFrame:hover {
    opacity: .5;
    cursor: url(../img/porftolioHoverCursor.png) 23 23, crosshair
}
#mobile_apps {
    background: url(../img/mobile_app_background.jpg) 0 0 fixed no-repeat;
    background-size: 100% auto;
    position: relative
}
.dots {
    background: url(../img/dots.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
}
.black_dots {
    background: url(../img/dot_black.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}
.apps_info {
    z-index: 4;
    position: absolute;
    right: 75px;
    bottom: 50px;
    width: 514px;
    height: 384px;
    border-radius: 257px;
    background: rgba(19, 110, 114, .7);
    padding-top: 130px
}
.apps_info h2 {
    font-family: ChunkFive-Roman;
    font-size: 49px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 400
}
.apps_info p {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    width: 436px;
    margin: 0 auto
}
.mapp_arrow {
    cursor: pointer;
    position: absolute;
    width: 51px;
    height: 26px;
    background: url(../img/arrow_mobile.png);
    left: 232px;
    bottom: 42px;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}
.mapp_arrow:hover {
    opacity: .5;
    cursor: url(../img/arrow.png) 23 23, crosshair
}
.mapp_arrow.up {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    bottom: 0;
    top: 42px
}
.mapp_arrow.up:hover {
    cursor: url(../img/arrow180.png) 23 23, crosshair
}
.hand {
    position: absolute;
    left: 100px;
    z-index: 5;
    bottom: 0;
    width: 593px;
    height: 678px;
    background: url(../img/iPhone_hand.png) no-repeat
}
.mobile_apps_holder {
    width: 228px;
    height: 405px;
    position: absolute;
    top: 82px;
    left: 64px
}
.status_bar {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 229px;
    height: 344px;
    background: url(../img/phone_status.png) no-repeat
}
.web_portfolio {
    background: url(../img/dots-gray.png) repeat #e6e6e6
}
.web_portfolio .page_wrapper {
    margin: 20px auto 70px
}
.web_portfolio h2 {
    font-family: ChunkFive-Roman;
    color: #19858a;
    font-size: 62px;
    line-height: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 70px
}
.mobile_logo {
    display: none
}
#portfolio_items {
    display: block;
    padding: 0;
    margin: 0
}
#portfolio_items li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    margin-right: 17px
}
#portfolio_items li:nth-child(3n+3) {
    margin-right: 0
}
.pi_item {
    width: 355px;
    height: 224px;
    background-color: #766f76;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 10
}
.pi_item_normal {
    padding: 5px
}
.pi_item_hover {
    visibility: hidden;
    width: 355px;
    height: 224px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #004f54;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out
}
.pf_hover {
    width: 101px;
    height: 101px;
    position: absolute;
    margin-left: 127px;
    margin-top: -95px;
    z-index: 10;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    opacity: 0;
    filter: alpha(opacity=0)
}
.pi_item:hover .pf_hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    margin-top: -165px;
    opacity: 1;
    filter: alpha(opacity=100)
}
.pi_item:hover .pi_item_hover {
    visibility: visible;
    opacity: .5;
    filter: alpha(opacity=50)
}
.pf_hover-in {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    margin-top: -165px;
    opacity: 1;
    filter: alpha(opacity=100)
}
.pf_hover-out {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    margin-top: -224px!important;
    opacity: 0;
    filter: alpha(opacity=0)
}
#portfolio_items li h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    color: #000
}
.screen_holder {
    background: url(../img/web_screen.png) no-repeat;
    height: 583px;
    width: 780px;
    position: relative;
    cursor: url(../img/arrow90.png) 23 23, crosshair
}
.screen_holder img {
    left: 32px;
    position: absolute;
    top: 32px
}
.iphone_holder {
    background: url(../img/iphone_hand_portfolio.png) no-repeat;
    height: 583px;
    width: 693px;
    position: relative;
    margin-left: 100px
}
.iphone_holder img {
    left: 173px;
    position: absolute;
    top: 67px
}
.iphone_holder_inspirato {
    height: 692px;
    width: 464px;
    margin-right: 200px
}
.ipad_holder {
    background: url(../img/ipad.png) no-repeat;
    height: 583px;
    width: 693px;
    position: relative;
    margin-left: 50px
}
.ipad_holder img {
    left: 53px;
    position: absolute;
    top: 57px
}
.text-holder {
    font-weight: 300;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    right: 0;
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 320px;
    z-index: 5;
    background-color: #ececec
}
.text-holder p {
    font-size: 15px;
    line-height: 25px
}
.text-holder h2 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px
}
.text-holder a {
    color: #460b34;
    text-decoration: underline;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.text-holder h2 a {
    text-decoration: none
}
.text-holder a:hover {
    color: #999
}
.text-holder hr {
    border: none;
    background: url(../img/hr_background.png) repeat-x
}
.devlabs_team {
    background-color: #E6E6E6;
    height: 1090px
}
.devlabs_team .team_text {
    position: absolute;
    bottom: 30px;
    left: 0
}
.whiteTitle {
    color: #fff;
    font-family: ChunkFive-Roman;
    font-size: 62px;
    font-weight: 400;
    line-height: 80px;
    text-transform: uppercase
}
.devlabs_team .pc33 p {
    color: #000;
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 28px
}
.devlabs_team p {
    color: #fff;
    font-size: 18px;
    line-height: 28px
}
.devlabs_team .team_background {
    position: relative;
    height: 430px;
    overflow: hidden;
    background: url(../img/devlabs_team.jpg) no-repeat fixed 0 center / 100% auto transparent
}
#contacts_holder h2 {
    color: #fff;
    font-family: ChunkFive-Roman;
    font-size: 62px;
    font-weight: 400;
    line-height: 137px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0
}
.pc33 {
    width: 33.33%;
    float: left;
    text-align: center;
    height: 600px;
    position: relative
}
.aboutUs_hidden {
    padding: 35px 0 25px;
    background-color: #e6e6e6
}
#contacts_holder {
    font-family: ChunkFive-Roman;
    color: #19858a;
    font-size: 62px;
    line-height: 137px;
    text-transform: uppercase;
    font-weight: 400
}
#contacts_holder, #contacts_wrapper, #map_canvas, #map_overlay_wrapper, #maps_wrapper {
    height: 900px
}
#map_canvas {
    width: 100%;
    height: 900px
}
#contacts_wrapper, #maps_wrapper {
    width: 100%
}
#contacts_holder {
    position: relative
}
#contacts_wrapper {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 5
}
#map_overlay_wrapper {
    background-color: #238a8f;
    opacity: .4;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4
}
.we_are_here {
    position: absolute;
    bottom: 57%;
    left: 52%;
    z-index: 4000;
    cursor: pointer;
    transition: all 0.3s;
}
.we_are_here:hover {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}
.contacts_info {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 90px
}
.social_holder {
    right: 0;
    bottom: -50px;
    position: absolute;
    z-index: 10
}
.social_holder a {
    margin-left: 5px;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}
.social_holder a:hover {
    opacity: .7
}
.contact_info {
    margin-bottom: 20px;
    color: #f0f0f0;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 1px;
    background: #238a8f;
    border-radius: 25px;
    padding: 5px 20px;
    text-align: right
}
.contact_info a {
    color: #f0f0f0
}
.contact_info a:hover {
    color: #fff
}
.contact_info strong {
    color: #fff;
    font-weight: 500
}
#res {
    display: none;
    font-size: 24px;
    line-height: 28px;
    width: 337px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-family: ChunkFive-Roman;
    text-transform: capitalize
}
.circle_pointerOut {
    height: 23px;
    padding-top: 7px;
    width: 23px;
    border-radius: 50%;
    background-color: #fff;
    opacity: .6;
    padding-left: 7px
}
.circle_pointerIn {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #238a8f
}
.form_textarea, .inputS {
    font-size: 14px;
    color: #238A8F;
    outline: 0
}
.inputS {
    width: 311px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #dadada;
    display: block;
    margin-bottom: 1px
}
.form_textarea:focus, .inputS:focus {
    border: 1px solid #238A8F;
    box-shadow: 0 0 5px #fff
}
.form_textarea {
    font-family: 'Open Sans', Arial, sans;
    width: 311px;
    padding: 15px 12px;
    border: 1px solid #dadada;
    height: 90px;
    resize: none;
    display: block;
    margin-bottom: 1px
}
.submit {
    display: block;
    margin-top: 20px;
    height: 50px;
    width: 213px;
    font-size: 16px;
    color: #fff;
    background-color: #238a8f;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    -webkit-appearance: none
}
.submit:hover {
    opacity: .7
}
.contact_us .page_wrapper {
    padding-top: 80px
}
.contact_us form {
    padding: 20px 0
}
.customNavigation {
    width: 1100px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -300px
}
.customNavigation .next, .customNavigation .prev {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    width: 39px;
    height: 39px;
    font-size: 0;
    z-index: 15;
    cursor: pointer;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out
}
.customNavigation .next:hover, .customNavigation .prev:hover {
    opacity: .7
}
.customNavigation .prev {
    left: 0;
    background: url(../img/arrow_left.png) no-repeat
}
.customNavigation .next {
    right: 0;
    background: url(../img/arrow_right.png) no-repeat
}
.shadowLeft, .shadowRight {
    position: absolute;
    top: 0;
    height: 100%;
    width: 52px;
    z-index: 10
}
.shadowLeft {
    background: url(../img/slider_fadeInOut_left.png) repeat-y;
    left: 0
}
.shadowRight {
    background: url(../img/slider_fadeInOut_right.png) repeat-y;
    right: 0
}
.team_carousel .item {
    text-align: right;
    height: 625px;
    position: relative
}
.team_carousel .item img {
    margin-right: 15px
}
.team_carousel .item p {
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 700
}
.web_portfolio_slider li {
    list-style: none;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0)!important;
    transform: matrix(1, 0, 0, 1, 0, 0)!important
}
@media screen and (max-width: 1024px) {
    .page_wrapper {
        width: 100%
    }
    .logo {
        width: 10%;
        height: auto
    }
    .pageNav {
        width: 89%;
        padding-right: 1%
    }
    #firstSlideSlideDown span {
        background-size: 100% auto
    }
    .firstSlide_textImg_we {
        width: 210px;
        height: 150px;
        left: 100px
    }
    .firstSlide_textImg_think {
        width: 363px
    }
    .firstSlide_textImg_digital {
        width: 409px;
        height: 132px;
        top: 360px;
        left: 100px
    }
    .firstSlide_textImg_and {
        width: 89px;
        height: 92px;
        left: 530px;
        top: 380px
    }
    .firstSlide_textImg_love {
        height: 111px;
        width: 233px;
        top: 378px;
        right: 140px
    }
    .bird {
        width: 380px;
        height: 364px;
        right: 0;
        top: 0
    }
    .blured_bird {
        width: 175px;
        height: 175px
    }
    .homeBlock {
        min-height: 700px
    }
    .web_portfolio h2 {
        padding: 80px 20px 0
    }
    #portfolio_items {
        padding: 0 20px
    }
    .items li {
        background-attachment: scroll
    }
    #portfolio_items li {
        width: 30%;
        margin-right: 4%
    }
    .pi_item, .pi_item_normal img {
        width: 100%;
        height: auto
    }
    .pf_hover {
        left: 50%;
        margin-left: -50px;
        display: none!important
    }
    .pf_hover-in {
        margin-top: -140px
    }
    .devlabs_team .team_text {
        padding: 0 20px
    }
    .customNavigation {
        width: 100%
    }
    #contacts_wrapper {
        padding: 0 20px
    }
    .contacts_info {
        right: 40px
    }
    .web_portfolio .page_wrapper {
        margin: 0
    }
    .iphone_holder_inspirato {
        margin-right: 300px;
        width: 40%;
        height: auto
    }
    #closePortfolio {
        right: 20px
    }
    .text-holder {
        padding: 0 20px
    }
    .hand {
        width: 483px;
        height: 552px;
        background-size: 100% auto
    }
    .mobile_apps_holder {
        top: 66px;
        left: 50px;
        width: 198px;
        height: 365px
    }
    .status_bar {
        background-size: 100% auto;
        width: 100%
    }
    #mobile_apps_slider {
        width: 100%
    }
    #mobile_apps_slider img {
        width: 100%;
        height: 333px
    }
    .apps_info {
        right: 20px
    }
    .secondSlide_img_nut2 {
        width: 124px;
        height: 95px;
        left: 10px
    }
    .secondSlide_img_bottle, .secondSlide_img_flat, .secondSlide_img_nut1, .secondSlide_img_nut2, .secondSlide_textImg_brave, .secondSlide_textImg_solutions, .secondSlide_textImg_toCreate, .secondSlide_textImg_web {
        background-size: 100% auto
    }
    .mobileApps {
        height: 700px
    }
    .secondSlide_textImg_toCreate {
        width: 388px;
        top: 105px;
        left: 100px
    }
    .secondSlide_textImg_solutions {
        width: 454px;
        top: 150px;
        right: 30px
    }
    .secondSlide_textImg_brave {
        width: 309px;
        top: 40px;
        right: 120px
    }
    .secondSlide_textImg_web {
        width: 239px;
        top: 210px;
        left: 250px
    }
    .secondSlide_img_flat {
        left: 40px;
        bottom: 20px
    }
    .secondSlide_img_bottle {
        right: 50px
    }
    #mobile_apps {
        background-attachment: scroll
    }
    .devlabs_team .team_background {
        background: 0 0;
        z-index: 1
    }
    #background_wrap {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        height: 740px;
        width: 100%;
        background-size: auto 100%;
        background-image: url(../img/devlabs_team.jpg);
        background-repeat: no-repeat;
        background-position: -100px 0
    }
    .web_portfolio_popUp .popup_slider {
        margin-top: -270px
    }
    #secondHomeBlock {
        background-color: #fff;
        z-index: 5
    }
    #our_team {
        background: 0 0
    }
    .secondBlock {
        height: 460px
    }
    .pi_item_hover {
        display: none!important
    }
}
@media screen and (max-width: 980px) {
    #background_wrap {
        height: 1200px;
        background-position: -440px 0
    }
}
@media screen and (max-width: 768px) {
    .we_are_here {
        left: 390px
    }
    .text-holder {
        padding-bottom: 20px;
        width: 250px
    }
    .web_portfolio_popUp.active {
        overflow-x: hidden
    }
    .ipad_holder, .iphone_holder {
        margin: 0 auto
    }
    .iphone_holder {
        width: 480px
    }
    .iphone_holder_inspirato {
        margin: 0 auto;
        width: 50%
    }
    .web_portfolio_popUp .popup_slider {
        margin-top: -250px;
        margin-left: 2%
    }
    .ipad_holder {
        background-position: 60px 0
    }
    .ipad_holder img {
        left: 113px
    }
    .pf_hover, .pf_hover img {
        width: 60px;
        height: 60px
    }
    .pf_hover {
        margin-left: -25px
    }
    .pf_hover-in {
        margin-top: -100px
    }
    .firstSlide_textImg_we {
        top: 214px;
        width: 230px
    }
    .firstSlide_textImg_think {
        top: 230px
    }
    .firstSlide_textImg_digital {
        left: 20px;
        width: 320px;
        top: 350px
    }
    .firstSlide_textImg_and {
        left: 340px;
        top: 360px
    }
    .firstSlide_textImg_love {
        right: 100px;
        top: 364px
    }
    .secondSlide_textImg_brave {
        top: 60px;
        left: 50px
    }
    .secondSlide_textImg_toCreate {
        left: auto;
        right: 20px;
        top: 20px
    }
    .secondSlide_textImg_web {
        top: 110px;
        left: auto;
        right: 110px
    }
    .secondSlide_textImg_solutions {
        right: auto;
        left: 50px;
        top: 190px
    }
    #mobile_apps {
        background-size: auto 100%
    }
    .hand {
        left: 50px
    }
    .apps_info {
        width: 360px;
        height: 300px;
        bottom: 110px;
        padding-top: 50px
    }
    .apps_info h2 {
        padding-bottom: 5px;
        font-size: 32px;
        padding-top: 13px
    }
    .apps_info p {
        line-height: 32px;
        width: 310px;
        font-size: 14px
    }
    .mapp_arrow {
        left: 157px;
        bottom: 10px
    }
    .mapp_arrow.up {
        top: 10px
    }
    .text-holder {
        position: static;
        margin: 0 auto;
        display: inline-block
    }
    #background_wrap {
        height: 1000px
    }
    .contact_info {
        padding: 5px 15px;
        text-align: left;
    }
    .contact_info a, .contact_info strong {
        font-size: 15px
    }
    .whiteTitle {
        font-size: 55px
    }
}
@media screen and (max-width: 710px) {
    .mapp_arrow {
        bottom: 5px
    }
    .loader .loader_wrapper {
        height: 220px;
        margin-top: -180px
    }
    .mapp_arrow.up {
        top: 5px
    }
    .loader {
        height: 150%;
        overflow: hidden!important
    }
    .web_portfolio_popUp .popup_slider {
        margin-left: 0
    }
    #portfolio_items {
        text-align: center;
        padding: 0 20px 20px
    }
    .loader_wrapper img {
        width: 140px;
        height: auto
    }
    #portfolio_items li {
        width: 32%;
        margin: 0;
        display: inline-block;
        float: none
    }
    #portfolio_items li h3 {
        font-size: 20px
    }
    .web_portfolio h2 {
        text-align: center;
        padding-top: 75px
    }
    #background_wrap {
        height: 810px
    }
    .firstSlide_textImg_we {
        width: 40%;
        left: 12%;
        top: 130px
    }
    .customNavigation .next, .customNavigation .prev {
        z-index: 10
    }
    .firstSlide_textImg_think {
        top: 200px;
        width: 50%;
        left: auto;
        right: 8%
    }
    .firstSlide_textImg_digital {
        left: 5%;
        width: 50%;
        top: 310px
    }
    .firstSlide_textImg_and {
        left: 40%;
        width: 21%;
        top: 350px;
        height: 150px
    }
    .firstSlide_textImg_love {
        right: 3%;
        top: 420px;
        width: 43%
    }
    .bird {
        width: 70%;
        top: 50px;
        height: 410px
    }
    .blured_bird {
        width: 30%;
        left: 10%;
        z-index: 1
    }
    .secondSlide_textImg_brave, .secondSlide_textImg_toCreate {
        width: 60%
    }
    .pf_hover-in {
        margin-top: -90px
    }
    .hamburger {
        display: block;
        background: url(../img/mobile_menu.png) no-repeat;
        width: 48px;
        height: 34px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer
    }
    .secondSlide_textImg_web {
        width: 40%;
        right: 10%;
        top: 150px
    }
    .secondSlide_textImg_solutions {
        width: 60%;
        top: 240px
    }
    .secondSlide_img_bottle {
        width: 50%;
        right: 0;
        height: 450px;
        display: none
    }
    .secondSlide_img_flat {
        width: 30%;
        left: auto;
        right: 50px
    }
    .apps_info {
        position: relative;
        margin: 80px auto 0;
        top: 0;
        left: auto;
        right: auto
    }
    #mobile_apps {
        height: 920px
    }
    .devlabs_team .team_background {
        height: 400px
    }
    .hand {
        left: 50%;
        margin-left: -149px
    }
    .apps_info {
        width: 320px;
        height: 290px;
        padding: 15px 0
    }
    .apps_info h2 {
        font-size: 25px;
        padding-top: 30px
    }
    .apps_info p {
        width: 250px;
        line-height: 25px;
        font-size: 15px
    }
    .mapp_arrow {
        left: 50%;
        margin-left: -24px
    }
    .we_are_here {
        display: none
    }
    .contacts_info {
        position: relative;
        width: 250px;
        margin: 0 auto;
        top: auto;
        right: auto;
    }
    .social_holder {
        position: static;
        text-align: center;
    }
    #contact_us {
        height: auto;
        min-height: 350px;
    }
    .devlabs_team p, .whiteTitle {
        text-align: center
    }
    .contact_us form {
        width: 80%;
        margin: 0 auto
    }
    .form_textarea, .inputS {
        width: 92%
    }
    .iphone_holder {
        margin: 40px 0 0;
        width: 320px;
        background-size: 100% auto;
        height: 340px
    }
    .iphone_holder img {
        left: 132px;
        top: 50px;
        width: 131px;
        height: auto
    }
    #contacts_wrapper {
        padding: 0
    }
    .submit {
        margin: 40px auto 0
    }
    .screen_holder {
        height: 300px;
        width: 290px;
        background-size: 100% auto;
        margin-top: 40px
    }
    .screen_holder img {
        width: 91%;
        height: auto;
        top: 13px;
        left: 14px
    }
    .popup_slider ul {
        margin: 0 auto
    }
    .ipad_holder {
        margin-left: 0;
        background-size: 100% auto;
        background-position: 0 0;
        width: 290px;
        margin-top: 40px;
        height: 300px
    }
    .ipad_holder img {
        width: 84%;
        height: auto;
        top: 24px;
        left: 23px
    }
    .logo {
        width: 53px;
        float: none;
        display: none;
        padding-top: 10px;
        padding-left: 10px
    }
    .pageHeader {
        text-align: left;
        min-height: 68px;
        background-color: rgba(255, 255, 255, .6)
    }
    .pageNav {
        display: none;
        background-color: rgba(255, 255, 255, .6)
    }
    .mobile_logo {
        display: inline-block
    }
    .pageNav {
        height: auto;
        width: 100%
    }
    .pageNav ul {
        float: none
    }
    .pageNav ul li {
        float: none;
        text-align: left;
        padding: 0;
        transition-duration: .6s;
        -webkit-transition-duration: .6s;
        border-bottom: 1px solid #19858a;
        line-height: 35px
    }
    .pageNav ul li a {
        float: none;
        text-align: left;
        padding-left: 20px;
        display: block;
        color: #000;
        font-weight: 600;
        font-size: 18px
    }
    .pageNav ul li.active a, .pageNav ul li:hover a {
        background-color: rgba(31, 137, 127, .8);
        color: #fff
    }
    .iphone_holder_inspirato {
        margin-top: 40px
    }
    .web_portfolio_popUp .popup_slider {
        top: 0;
        margin-top: 20px
    }
    .web_portfolio_popUp.active {
        overflow-y: scroll!important
    }
    .contact_us .page_wrapper {
        padding-top: 60px
    }
    .devlabs_team {
        height: 740px
    }
    .team_carousel .item {
        height: 305px;
        text-align: center
    }
    .team_carousel .item img {
        height: 240px;
        margin-right: 35px
    }
}
@media screen and (max-width: 570px) {
    #portfolio_items li {
        width: 45%
    }
    .whiteTitle {
        font-size: 50px
    }
}
@media screen and (max-width: 480px) {
    .team_carousel .item {
        height: 435px
    }
    .team_carousel .item img {
        height: 380px;
        width: auto
    }
    .devlabs_team {
        height: 900px
    }
    .team_carousel .item img {
        margin-right: 0
    }
}
@media screen and (max-width: 420px) {
    .loader .loader_wrapper {
        margin-top: -240px
    }
    #portfolio_items li {
        width: 75%
    }
    .web_portfolio h2 {
        font-size: 46px;
        padding-top: 75px
    }
    .secondBlock {
        height: 310px
    }
    .whiteTitle {
        font-size: 35px
    }
    .pf_hover-in {
        margin-top: -110px
    }
    .secondSlide_img_flat {
        height: 120px
    }
}
@media screen and (max-width: 380px) {
    .apps_info {
        width: 295px;
        height: 255px
    }
    .apps_info h2 {
        font-size: 22px
    }
    .apps_info p {
        width: 220px;
        line-height: 21px;
        font-size: 13px
    }
}
